/* Universal Style */

/* used to reset default values */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {

}
body {
    grid-template-columns: 20;
    grid-template-rows: 12;
}
/* Header */
header {

}

/* Nav */
nav {

}

/* Section */


/* Footer */